header {
  text-align: center;
  margin: 40px;
  font-size: 50px;
  font-family: "Comfortaa", cursive;
}
footer {
  text-align: center;
  margin: 40px;
}

.App {
  margin: 30px;
}
.container1 {
  max-width: 960px;
  margin: 0 auto;
}
