body {
  background-color: rgb(255, 212, 133);
}
section {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  margin: 20px 0;
}
form {
  display: block;
  text-align: center;
}
input {
  width: 85%;
  border-radius: 6px;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
}
