.phonetic-audio {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 7px 12px;
  font-size: 12px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  line-height: 3;
  color: orange;
  margin-right: 10px;
}
.phonetic-audio:hover {
  background: orange;
  color: white;
}
.phonetic-text {
  opacity: 0.65;
}
